.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 50px;
}

.header h1 {
    font-size: 48px;
    font-weight: 500;
    text-transform: uppercase;
    width: 310px;

    padding: 10px;

    border-bottom: 4px solid;
    border-radius: 50px;
}

@media screen and (max-width: 980px) {

    .header {
        margin-top: -30px;
        justify-content: center;
        flex-direction: column;
        background-color: black;
    }

    header h2 {
        margin-top: 10px;
        font-size: 16px;
    }

    header p {
        font-size: 10px;
    }
}