main {
    display: flex;
    justify-content: space-between;
}

main li {
    list-style-type: none;
}

main section {
    color: white;
    position: absolute;
}

.animations {
    right: 100px;
    border: 1px solid;
    padding: 30px;
    border-radius: 100px;
    background: black;
}

.animations li {
    font-size: 12px;
}

.formule li {
    color: white;
} 

.formule p {
    margin-bottom: 20px;
}

.formule h3 {
    border-bottom: 4px solid white;
    border-radius: 25px;
    width: 280px;
    padding-left: 10px;
}
