main {
    display: flex;
    justify-content: space-between;
}

main section {
    color: white;
    position: absolute;
}

.animations {
    right: 100px;
    border: 1px solid;
    padding: 30px;
    border-radius: 100px;
    background: black;
}

.animations li {
    font-size: 12px;
}

.formule li {
    color: white;
} 

.formule p {
    margin-bottom: 20px;
}

.formule h3 {
    border-bottom: 4px solid white;
    border-radius: 25px;
    width: 280px;
    padding-left: 10px;
}

@media  screen and (max-width: 980px) {
    
    .paint img {
       position: relative;
       height: 400px;
       opacity: 1;
    }

    .formule {
        background-color: black;
    }

    .animations {
        right: 0;
        margin: 30px 30px;
        color: black;
        background-color: white;
    }

    main {
        display: block;
    }

    main section {
        position: relative;
        padding: 30px;

    }
}
